// test

.progressContainer {
    width: 100%;
    height: 8rem;
    padding: 1rem 0rem 1rem;
    background-color: var(--breadcrumbs-background);
}  

.progressList {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test {
    display: flex;
    justify-content: space-evenly;
}

.line {
    background-color: #dcdcdc;
    width: 100%;
    height: 2px;
}

.lineActive {
    background-color: var(--primary-base-color);
    transform-origin: left center;
    animation: animate 1s;
}

.progressList > li {
    padding: 0;
    &::before {
        content: "";
    }
}

.progressItem {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    color:#a1a1a1;
}

.titleProgressItem {
    margin-top: 1rem;
    position: absolute;
    width: 15rem;
    top: 100%;
    display: flex;
    justify-content: center;
}

.progressItemActive {
    color: black;
}

.progressList > li:last-child {
    display: none;
}

.circleProgressItem {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
}

.circleProgressItemActive {
    background-color: var(--primary-base-color);
    color:#fff;
    transform-origin: left;
    animation: animateCircle 1s;
    // animation: animate 1s;
    transition: 1s;
}

@keyframes animate {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes animateCircle {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
// end test


.ProgressBar {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-around;
    background: var(--breadcrumbs-background);
    flex-direction: row;
    position: relative;
    // counter-reset: step;
}

.ProgressBar::before, .progress {
    content: "";
    position: absolute;
    top: 50%;
    // transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
}

.progress {
    background-color: var(--primary-base-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    transition: 0.3s;
}

.ProgressStep {
    width: 3rem;
    height: 3rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#a1a1a1;
    position: absolute;
}

// .ProgressStep::before {
//     counter-increment: step;
//     content: counter(step);
// }


.ProgressStep::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 1rem;
}

.ProgessStepActive {
    background: var(--primary-base-color);
    color: #fff;
    animation: animate 0.5s;
}

.ProgessStepActive::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 1rem;
    color: black;
}

